.new-public-shortlink-content-header-bar {
  height: 50px;
  justify-content: center;
  button {
    font-weight: 600;
  }
}

.new-public-container {
  padding: 10px 30px;
}

// .apps-card {
//   display: none;
// }

// .main-content {
//   justify-content: center;

//   .app-content {
//     width: 50% !important;
//   }
// }