.shortlink-content-header-bar {
  align-items: center;
  display: flex;

  .ant-row {
    width: 100%;
  }

  .actions-form {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 576px) {
      justify-content: flex-end;
      margin-top: 5px;
      // button {
      //   // margin-left: 0px !important;
      //   // margin-right: 5px !important;
      // }
    }

    button {
      margin-left: 5px;
    }
  }
}

.list-container {
  padding: 20px 30px;

  .list-short-link-item {
    margin: 10px 0px;
    display: flex;

    border: 1px solid #edeaea;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -0.5px 0px #edeaea;

    .list-short-link-item-thumbnail {
      margin: 5px;

      @media screen and (max-width: 576px) {
        display: none;
      }
    }

    .list-short-link-item-body {
      padding: 5px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      position: relative;

      @media screen and (max-width: 576px) {
        // overflow: scroll;
        overflow: initial;
      }

      .list-short-link-item-actions {
        height: 100%;
        // margin-right: 30px;

        @media screen and (max-width: 576px) {
          // margin-right: 0px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

    }

    .list-short-link-item-content {
      .list-short-link-item-content-title {
        font-size: larger;
        font-weight: 500;
      }

      .list-short-link-item-content-url {
        font-weight: 300;
        font-style: oblique;
      }

      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }

    .url-copied-success {
      @media screen and (max-width: 576px) {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
      }
    }
  }
}

.url-copied-success {
  color: green;
  font-size: large;

  span:last-child {
    margin-left: 5px;
  }
}

.not-showing {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}

.showing {
  visibility: visible;
  transition: visibility 1s, opacity 0.5s linear;
  opacity: 1;

}