.menuBar-drawer {
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}

.menuBar {
  @media screen and (min-width: 576px) {
    display: none;
  }

  .header-menu-expand {
    border-radius: 5px;
  }

  margin-right: 10px;
}